body{
    background: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card{
    border: 1px solid #343232;
    height: fit-content;
    width: auto;
    background: #201f1f;
    border-radius: 10px;
    padding: 25px 35px;
    
}
img{
    margin-left: 100px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 10px;
}
h1{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:2px;
    margin-left: 30px;
    margin-top: 3px;
}
.location{
    color: rgba(255, 255, 0, 0.932);
    margin-top: -30px;
    font-weight: 60px;
    text-align: center;
}
.quote{
    color: aliceblue;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    text-align: center;
    padding: 10px;
    border: 2px solid #2d2d2c;
    background-color: #2d2d2c;
    color: rgb(255, 249, 249);
    border-radius: 5px;
    margin: 8px;
    font-weight: bolder;
}
a:hover{
    background-color: yellow;
    color: black;
}
@media only screen and (max-width: 375px)
{
    body
    {
        padding: 120px 30px;
    }
    .card
    {
        padding: 10px 10px;
        width: auto;
    }
    button:active
    {
        color: #141414;
        background-color: #c5f82a;
    }
}